<html>
  <head>
    <title>Reedsy - Alec Gibson - Q4</title>

    <link rel="stylesheet" type="text/css" href="directives/datePicker/datePicker.css" />
  </head>
  <body ng-app="q4" ng-controller="dateController">
    <date-picker ng-model="timestamp"></date-picker>

    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/moment/min/moment.min.js"></script>
    
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/dateController.js"></script>
    <script type="text/javascript" src="directives/datePicker/datePicker.js"></script>
  </body>
</html>
