<span class="date-picker" ng-class="{invalid: dateIsInvalid()}">
  <select class="js-date"
          ng-options="date as date for date in dates"
          ng-model="date"
          ng-change="updateDate()"></select>

  <select class="js-month"
          ng-options="month as month.label for month in months track by month.value"
          ng-model="month"
          ng-change="updateDate()"></select>

  <input class="js-year"
         type="text"
         ng-model="year"
         ng-change="updateDate()"/>
</span>
